.login {
  /* background-image: url('https: //img.freepik.com/free-photo/young-fitness-man-studio_7502-5006.jpg?w=1060&t=st=1681934545~exp=1681935145~hmac=2fb56b1a65c1eed3933faccfaec26d82a71bd665a05b47175d4188c0773d3fa4;');
   */
  /* background-image: url('https: //img.freepik.com/free-photo/young-fitness-man-studio_7502-5006.jpg?w=1060&t=st=1681934545~exp=1681935145~hmac=2fb56b1a65c1eed3933faccfaec26d82a71bd665a05b47175d4188c0773d3fa4;'); */

background-image: url('https://images.pexels.com/photos/3112004/pexels-photo-3112004.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2;');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  display: block;
  padding: 10px;
  width: 300px;
  margin-top: 10px;
  border-radius: 10px;
  border: 0.5px solid gray;
}

/* .formlogin input {
  
} */

button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  margin-right: 34px;
}

button:hover {
  background-color: #0069d9;
}
.ress{
  opacity: 1;
  margin: 1rem;
  /* background-color: aqua; */
}
/* .log{
  text-align: center;
  text-align: right;
} */