.blog_img{
    width: 400px;
    height: 400px;
   
}

 .blog_img_container{
  display: flex;
  width: 100vw;
  height: 400px;
  overflow:scroll;
  margin-top: 2.7rem;
  margin-left: 2.7rem;
  overflow: hidden;box-shadow: inset;

} 