
.regbg {
  background-image: url('https://images.pexels.com/photos/4753987/pexels-photo-4753987.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2;');
 background-size: cover;
  height: 100vh;
}

.maincontentreg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.formlogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.formlogin input {
  padding: 10px;
  width: 300px;
  margin-top: 10px;
  border-radius: 10px;
  border: 0.5px solid gray;
}

.regbtn {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
}

.regbtn:hover {
  background-color: #3e8e41;
}

@media (max-width: 700px) {
  .formlogin input {
    width: 80%;
  }
}
