.regbg {
    /* background-image: url('https://images.pexels.com/photos/4753890/pexels-photo-4753890.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2;'); */
    background-image: url('https://images.pexels.com/photos/4753987/pexels-photo-4753987.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2;');
  
    background-size: cover;
    top: 0;
    height: 100vh;
    padding-top: 100px;
    /* margin-top:-100px; */
  }
  .maincontentreg {
    border: 5px solid black;
    border-radius: 10px;
    /* background-color: rgb(177, 23, 46); */
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    /* padding-top: 200px; */
    box-shadow: 0px 0px 10px 5px;
  }
  .formlogin {
    /* color: white; */
    margin-top: 4px;
  }
  input {
    margin-left: 20px;
  
    display: flex;
  }
  .regbtn {
    margin-left: 60px;
    border-radius: 5px;
    background-color: rgb(14, 60, 227);
    color: white;
    border: 0.5px solid grey;
    text-transform: 0.1sec;
    opacity: 80%;
  }
  .regbtn:hover {
    cursor: pointer;
    background-color: rgb(110, 15, 110);
  }