.container_footer{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(33, 1, 1);
    color: white;
}

.bootom_footer{
    text-align: center;
}
.gym_footer{
    color: red;
    font-size: 25px;
    font-weight: 700;
}

.inner1_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    margin-left: 5rem;

}
.footer_icon{
    display: flex;
    justify-content: space-evenly;
}

.footer_lorem{
   font-weight: 900;
}