*{
margin: 0px;
padding: 0px;
}

.Navbar {
  background-color: rgb(10, 0, 0);
  display: flex;
  list-style-type: none;
  text-decoration: none;
  justify-content: space-around;
  width: 100%;
  height: 4.8rem;
  position: fixed;
  top: 0px;
  color: white;
  text-shadow: 2px 2px 4px #951212;
}

.Middlebar {
  display: flex;
  gap: 20%;
  margin-top: 2.4rem;
}

li a {
  font-size: 20px;
  text-decoration: none;
}

.logo {
  color: rgb(242, 13, 32);
}

.buttonn {
  border: none;
  cursor: pointer;
  background-color: rgb(245, 31, 24);
  width: 5rem;
  height: 2.5rem;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  color: white;
  margin-left: 40rem;
}

link {
  color: red;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
